.venv
venv/
.venv/
env/
env
.env
models/
src/paperstream/models/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
server.log
pip-wheel-metadata/
paperstream.db
data/
.data/
/data
